# FLUX.1-dev R128 SVDQ-FP4 Nunchaku configuration
pipeline:
  name: flux.1-dev
  path: /root/models/flux1-dev.safetensors
  dtype: torch.bfloat16
eval:
  num_steps: 50
  guidance_scale: 3.5
  protocol: fmeuler{num_steps}-g{guidance_scale}
quant:
  calib:
    batch_size: 16
    data: qdiff
    num_samples: 128
  wgts:
    calib_range:
      element_batch_size: 64
      sample_batch_size: 16
      element_size: 512
      sample_size: -1
    low_rank:
      sample_batch_size: 16
      sample_size: -1
      rank: 128
      exclusive: false
      compensate: true
      num_iters: 1
    skips: 
    - embed
    - resblock_shortcut
    - resblock_time_proj
    - transformer_proj_in
    - transformer_proj_out
    - down_sample
    - up_sample
    enable_calib_range: false
  ipts:
    calib_range:
      element_batch_size: 64
      sample_batch_size: 16
      element_size: 512
      sample_size: -1
    skips: 
    - embed
    - resblock_shortcut
    - resblock_time_proj
    - transformer_proj_in
    - transformer_proj_out
    - transformer_norm
    - transformer_add_norm
    - down_sample
    - up_sample
  opts:
    calib_range:
      element_batch_size: 64
      sample_batch_size: 16
      element_size: 512
      sample_size: -1
  # smooth:
  #   proj: null
  #   attn: null
  # enable_smooth: false
