# FLUX.1-dev R32 SVDQ-FP4 Nunchaku configuration (Low Memory)
pipeline:
  name: flux.1-dev
  path: /root/models/flux1-dev.safetensors
  dtype: torch.bfloat16
eval:
  num_steps: 50
  guidance_scale: 3.5
  protocol: fmeuler{num_steps}-g{guidance_scale}
quant:
  calib:
    batch_size: 4
    data: qdiff-r32
    path: datasets/{dtype}/{model}/{protocol}/{data}/s32
    num_samples: 32
  wgts:
    calib_range:
      element_batch_size: 16
      sample_batch_size: 4
      element_size: 512
      sample_size: 32
    low_rank:
      sample_batch_size: 4
      sample_size: 32
      rank: 32
      exclusive: false
      compensate: true
      num_iters: 1
    skips: 
    - embed
    - resblock_shortcut
    - resblock_time_proj
    - transformer_proj_in
    - transformer_proj_out
    - down_sample
    - up_sample
    enable_calib_range: false
  ipts:
    calib_range:
      element_batch_size: 16
      sample_batch_size: 4
      element_size: 512
      sample_size: 32
    skips: 
    - embed
    - resblock_shortcut
    - resblock_time_proj
    - transformer_proj_in
    - transformer_proj_out
    - transformer_norm
    - transformer_add_norm
    - down_sample
    - up_sample
  opts:
    calib_range:
      element_batch_size: 16
      sample_batch_size: 4
      element_size: 512
      sample_size: 32
  smooth:
    proj:
      element_batch_size: -1
      sample_batch_size: 4
      element_size: -1
      sample_size: 32
    attn:
      sample_batch_size: 4
      sample_size: 32
  enable_smooth: false
